a/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*            End of CSS Reset            */

/*                 Setup                  */

/*               Borderbox                */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}
/*               End of Setup             */

/*                  Font                  */
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_semibold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_text.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_thin.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_ultralight.ttf") format("truetype");
  font-weight: 100;
}
/*                  CSS                   */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
}

nav {
  background: #333333;
  display: flex;
  flex-flow: row nowrap;
  
}

nav div {
  height: 44px;
  max-width: 1024px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

nav ul {
  height: 44px;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  justify-content: space-between;
}

nav li {
  height: 44px;
}

.nav-item {
  display: inline-block;
  margin: 0;
  height: 44px;
  text-decoration: none;
}

#nav-apple-logo {
  width: 20px;
  background: url("images/navbar/apple-icon.png") center no-repeat;
}

#nav-mac {
  width: 31px;
  background: url("images/navbar/mac.png") center no-repeat;
}

#nav-ipad {
  width: 30px;
  background: url("images/navbar/ipad.png") center no-repeat;
}

#nav-iphone {
  width: 48px;
  background: url("images/navbar/iphone.png") center no-repeat;
}

#nav-watch {
  width: 44px;
  background: url("images/navbar/watch.png") center no-repeat;
}

#nav-tv {
  width: 20px;
  background: url("images/navbar/tv.png") center no-repeat;
}

#nav-music {
  width: 40px;
  background: url("images/navbar/music.png") center no-repeat;
}

#nav-support {
  width: 57px;
  background: url("images/navbar/support.png") center no-repeat;
}

#nav-search {
  width: 20px;
  background: url("images/navbar/search.png") center no-repeat;
}

#nav-shop {
  width: 18px;
  background: url("images/navbar/shop.png") center no-repeat;
}

body {
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
  letter-spacing: normal;
  color: #333;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.5em;
}

.hero-section {
  margin-top: 10px;
  height: 600px;
  background: url("images/hero_iphone_13pro.jpg") center no-repeat;
  text-align: center;
}

.hero-header {
  margin-top: 40px;
}

#hero-title {
  font-weight: 600;
}

.link-item {
  display: inline-block;
  font-size: 23.7px;
  line-height: 1.3375;
  font-weight: 300;
  margin: 0 6px 12px;
  color: #08C;
  text-decoration: none;
}

.link-item:visited {
  color: #08C;
}

.link-item:hover {
  text-decoration: underline;
  color: black;
}

.hero-sub {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  
  align-items: center;
}

.hero-sub ul {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.col-1-4 {
  display: inline-block;
  width: calc(100% / 4);
}

#hero-sub-1 {
  background: url("images/watch_large.jpg") center no-repeat;
  height: 200px;
}

#hero-sub-2 {
  background: url("images/ipad_pro_large.jpg") center no-repeat;
  height: 200px;
}

#hero-sub-3 {
  background: url("images/accessories_large.jpg") center no-repeat;
  height: 200px;
}

#hero-sub-4 {
  background: url("images/macbook_large.jpg") center no-repeat;
  height: 200px;
}

.hero-sub a {
  color: #0088CC;
  margin: 20px 0 20px;
  font-weight: 400;
  text-decoration: none;
}

.hero-sub a:hover {
  text-decoration: underline;
}

.col-1-5 {
  display: inline-block;
  width: calc(100% / 5);
}

footer {
  color: #666666;
  background-color: #F2F2F2;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
}

.footer-wall {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 20px;
}

.footer-wall ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
}

.footer-wall ul:not(:first-child) {
  padding-top: 20px;
}

.footer-wall ul>li>a {
  color: #666666;
  text-decoration: none;
}

.footer-wall ul>li>a:hover {
  color: #333333;
  text-decoration: underline;
}

.footer-wall ul>li:first-child {
  font-weight: 600;
}

.footer-molding {
  padding: 20px 0;
  display: flex;
  flex-flow: row wrap;
}

.footer-molding p {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d6d6;
}

.footer-molding p a {
  text-decoration: none;
  color: #0088CC;
}

.footer-molding p a:hover {
  text-decoration: underline;
  color: #666666;
}

#legal {
  padding-right: 20px;
}

#legal-links a{
  padding: 0 10px;
  text-decoration: none;
  color: #666666;
}

#legal-links a:hover{
  text-decoration: underline;
  color: #333333;
}

#legal-links > a:not(:last-child) {
  border-right: 1px solid #d6d6d6;
  margin-right: 10px;
}

#locale {
  margin-left: auto;
  text-align: center;
}

#locale-flag {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("images/usa.png") no-repeat;
}

#locale a {
  color: #333333;
  text-decoration: none;
}

#locale a:hover {
  color: #666666;
  text-decoration: underline;
}